target/
result.gif
result.png
result.jpg
avatar.jpg
/config.toml
test.py
temp/
tmp/
libraries/

*.venv/
*__pycache__/
*.so
node_modules
dist
.idea
*.node
npm
memers.exe
build-meme.bat
extract_gif_frames.bat
head.jpg
inages_output/
temp/
update_rust_dates.py
meme_emoji_rust.eddx
generate_mods.py